.container {
    width: 450px; 
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.459);
    padding: 2px 30px 15px 30px; 
    height: 580px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    box-sizing: border-box;
    background: #ecf0f3d7;
    box-shadow: 14px 14px 20px #164235, -14px -14px 20px #3C1642;
}

.container h1 {
    font-size: 30px; 
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -1.5px; 
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.6rem; 
    color: #3C1642;
    outline: none;
    text-align: center;
}

.container h1:hover {
    letter-spacing: 1px;
}

.inputfield {
    position: relative;
    width: 100%;
    height: 37.5px; 
    margin: 22.5px auto; 
}

.inputfield input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #164235;
    border-radius: 40px;
    font-size: 12px; 
    color: #164235;
    padding: 15px 33.75px 15px 18.75px; 
}

.inputfield input::placeholder {
    color: #164235;
    font-weight: bold;
}

.inputfield .icon {
    position: absolute;
    right: 18.75px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px; 
    color: #fff;
}

.recallForget {
    display: flex;
    justify-content: space-between;
    font-size: 10.9px; 
    margin: 7.5px 11.25px 15px 11.25px; 
    align-items: center;  
    flex-wrap: wrap;      
}

.recallForget label {
    display: inline-flex;  
    align-items: center;  
    white-space: nowrap;   
}

.recallForget label input {
    accent-color: #000000;
    margin-right: 6px;  
}

.recallForget a, .signupLink a {
    color: #164235;
    text-decoration: none;
    font-weight: bold;
}

.recallForget a:hover, .signupLink a:hover {
    text-decoration: underline;
    color: #3C1642;
}

.loginButton {
    margin-top: 15px; 
    color: white;
    background: #3C1642;
    height: 30px; 
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.loginButton:hover {
    background: #164235;
    font-size: 12px; 
}

.signupLink {
    font-size: 10.9px; 
    text-align: center;
    margin: 15px 0 11.25px; 
}

.logo {
    width: 230px; 
    height: 230px; 
}

.logocontainer {
    width: 100%;
    display: flex;
    align-items: center;
}
