/* Container principal */
.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Título do formulário */
h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
}

/* Formulário */
.form {
  display: flex;
  flex-wrap: wrap; /* Permite que os campos se quebrem em múltiplas linhas */
  gap: 20px; /* Adiciona espaçamento entre os campos */
  justify-content: space-between; /* Distribui os itens no espaço disponível */
  max-width: 100%;
  width: 100%;
}

/* Grupo de campos do formulário */
.formGroup {
  display: flex;
  flex-direction: column;
  width: 48%; /* Dois campos lado a lado */
  margin-bottom: 15px;
}

/* Estilo dos campos de input */
input[type="text"], input[type="number"], input[type="email"], input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #164235;
  width: 100%;
  box-sizing: border-box; /* Garante que o padding não afete a largura */
}

/* Botão de envio */
.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3C1642;
  color: white;
  width: 100%;
  max-width: 200px; /* Limita a largura do botão */
  margin-top: 20px;
}

/* Botão de envio hover */
.submitButton:hover {
  background-color: #4CAF50;
}

/* Responsividade: em telas menores, os campos ocupam 100% da largura */
@media (max-width: 768px) {
  .formGroup {
    width: 100%; /* Os campos ocupam toda a largura */
  }

  .submitButton {
    width: 100%; /* O botão ocupa toda a largura */
  }
}
