.footer{
    background-color: #222;
    color: #FFF;
    padding: 2em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}